  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Download a supported version</h2>
              <a href="https://www.isc.org/downloads/" class="btn btn-default btn-xl wow tada">Download Now!</a>
          </div>
      </div>
  </aside>
