<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Subscribe for support from ISC</h2>
                <hr class="light">
                <p class="text-faded">We offer 7 x 24 professional support. Support subscribers get a confidential issue queue, advance notification of pending security vulnerabilities and priority fixes.</p>
                <a href="https://www.isc.org/bind-subscription-contact/" class="btn btn-default btn-xl">Contact ISC for Support</a>
            </div>
        </div>
    </div>
</section>
