<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>BIND 9 DNS</h1>
            <hr>
            <p>Operate your own services using open source for maximum flexibility, transparency and control.</p>
            <a href="#download" class="btn btn-primary btn-xl page-scroll">Download</a>
        </div>
    </div>
</header>
