<section id="support">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Support Resources</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary">usb</i>
                    <h3>Documentation</h3>
                    <p class="text-muted">BIND Administrative Reference Manual</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>BIND-Users mailing list</h3>
                    <p class="text-muted">Advice via public mailing list from the user community and ISC.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-commenting wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>ISC Discussion Forum</h3>
                    <p class="text-muted">New forum for discussion of BIND, DNS and DHCP issues.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-info-circle wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Knowledgebase</h3>
                    <p class="text-muted">Technical tips, FAQs and feature descriptions. .</p>
                </div>
            </div>
        
        </div>
    </div>
</section>
